/* Reuse login.css styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  background: linear-gradient(-45deg, #74ebd5, #acb6e5, #ff9a9e, #fad0c4);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.login-container {
  background-color:rgb(162,219,237);
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input, .login-container select {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container button {
  width: 95%;
  padding: 10px;
  background-color:#e865cc;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #a0459e;
}

.login-container a {
  text-decoration: none;
  color: #cc67d9;
}

.login-container a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
